.stage-header {
	-fx-background-color: transparent;
	-fx-font-family: 'Exo';
	-fx-font-size: 30;
	-fx-text-fill: white;
}

.field {
	-fx-font-family: 'NimbusSanL';
	-fx-fill: white;
}

.stage-container {
	-fx-alignment: top-center;
}

.icon-option {
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.icon-option:hover {
	-fx-border-color: white;
}

.save-button {
	-fx-background-image: url('/icons/save_icon.png');
}

.refresh-button {
	-fx-background-image: url('/icons/refresh_icon.png');
}